<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Appointment</title>
  <link rel="icon" href="img/logo-removebg-preview.png">
  <link rel="stylesheet" href="design.css">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <style>
    .preloader{
      background: white url(img/preloader.gif) no-repeat center;
      background-size: 30%;
      height: 100vh;
      position: fixed;
      width: 100%;
      z-index: 100;
    }

    .active{
      background-color: white;
      margin: 0;
      color: rgb(249 115 22 / var(--tw-bg-opacity));
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    .active:hover{
        opacity: 1;
    }

    /* Added transition for sidebar */
    .sidebar {
      transition: transform 0.3s ease;
    }
  </style>
</head>
<body class="bg-white min-h-screen">
  <!-- Sidebar with Toggle Button -->
  <div class="fixed top-0 left-0 z-50 w-full p-2 bg-orange-500 md:bg-transparent flex items-center gap-4 justify-between">
    <img src="img/logo-removebg-preview.png" alt="" class="w-10 h-10 md:hidden"><span class="text-white font-bold md:hidden tracking-widest">THERASPACE</span>
    <button id="sidebarToggle" class="md:hidden text-white">
      <ion-icon id="menuIcon" name="menu-outline" class="text-4xl"></ion-icon>
    </button>
  </div>
  <div id="sidebar" class="sidebar fixed inset-0 bg-orange-500 w-full md:w-[250px] top-0 bottom-0 md:left-0 mt-8 md:mt-0 py-4 h-screen hidden md:block">
    <div class="text-white text-xl flex flex-col h-full">
      <div class="p-4 mt-1 text-center mx-auto flex flex-col items-center justify-center">
        <img src="<%= session.profile %>" alt="" class="w-16 md:w-24">
        <h1 class="font-bold text-white text-[20px] tracking-wider"><%= session.username %></h1>
        <p class="text-sm italic"><%= session.email %></p>
      </div>
      <hr class="border-t border-white my-4">
      <div class="text-center cursor-pointer text-xl font-semibold pl-2 my-1 mt-2">
        <a href="appointments" class="w-full flex justify-start items-center py-3 text-[15px] active">
          <ion-icon name="calendar-outline" class="pr-4 pl-4 text-2xl"></ion-icon> 
          <span>APPOINTMENTS</span>
        </a>
      </div>
      <div class="text-center cursor-pointer text-xl font-semibold pl-2 my-1">
        <a href="schedule" class="w-full flex justify-start items-center py-3 text-[15px] hover:opacity-60 hover:duration-200">
          <ion-icon name="calendar-number-outline" class="pr-4 pl-4 flex justify-center items-center text-center text-2xl"></ion-icon> 
          <span>SCHEDULE</span>
        </a>
      </div>
      <div class="text-center cursor-pointer text-xl font-semibold pl-2 my-1">
        <a href="history" class="w-full flex justify-start items-center py-3 text-[15px] hover:opacity-60 hover:duration-200">
          <ion-icon name="time-outline" class="pr-4 pl-4 flex justify-center items-center text-center text-2xl"></ion-icon> 
          <span>HISTORY</span>
        </a>
      </div>
      <div class="text-center cursor-pointer text-xl font-semibold pl-2 my-1">
        <a href="prescription" class="w-full flex justify-start items-center py-3 text-[15px] hover:opacity-60 hover:duration-200">
          <ion-icon name="clipboard-outline" class="pr-4 pl-4 text-2xl"></ion-icon> 
          <span>PRESCRIPTION</span>
        </a>
      </div>
      <div class="text-center cursor-pointer text-xl font-semibold pl-2 my-1">
        <a href="account" class="w-full flex justify-start items-center py-3 text-[15px] hover:opacity-60 hover:duration-200">
          <ion-icon name="person-outline" class="pr-4 pl-4 text-2xl"></ion-icon> 
          <span>ACCOUNT</span>
        </a>
      </div>
      <div class="text-center cursor-pointer text-xl font-semibold pl-2 my-1 md:my-auto">
        <button onclick="confirmLogout()" class="w-full flex justify-start items-center py-1 text-[15px] hover:opacity-60 hover:duration-200">
          <ion-icon name="log-out-outline" class="pr-4 pl-4 text-2xl"></ion-icon> 
          <span>LOG OUT</span>
        </button>
      </div> 
    </div>
  </div>
  
  <!-- Page Content -->
  <div class="md:fixed md:ml-[250px] mt-16 md:mt-2 w-full">
    <div class="md:ml-6 my-6 w-full">
      <h1 class="md:ml-4 pt-4 text-[30px] md:text-4xl text-orange-500 font-bold tracking-widest text-center md:text-start">APPOINTMENTS</h1>
    </div>
    <hr class="border-t-4 border-orange-500 my-4 md:my-0">

    <div class="md:flex md:mt-8">
      
      <div class="md:ml-6 md:w-[80%] m-2 md:m-0">
        <h1 class="text-black font-bold text-[12px] mb-4 text-center md:text-start mt-4 md:mt-0">AVAILABLE APPOINTMENTS:</h1>
        <div class="text-center md:text-start">
          <span class="font-semibold text-[16px] mx-4">Date: </span><input type="date" id="dateInput" name="dateInput" class="mx-auto border p-2 rounded-lg mb-4 md:mb-2 border-slate-500">
        </div>

        <div class="bg-slate-200 w-full p-8 rounded-md md:overflow-y-auto md:max-h-[500px]">
          
          <div id="boxes" class="inset-0 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 gap-8">
            <div id="boxID" hidden></div>
            <% appointments.forEach((appointment) => { %>
              
              <div class="bg-white p-8 rounded-lg shadow-md hover:shadow-lg hover:transform hover:scale-110 transition duration-300 ease-in-out relative">
                <!-- Background image -->
                <img src="<%= appointment.image %>" alt="" class="absolute top-0 right-0 w-24 mt-2 mr-2">
                
                <div>
                  <h6 class="text-[12px] font-semibold text-black">Schedule:</h6>
                  <h2 class="font-semibold"><%= appointment.schedule %></h2>
                </div>
                
                <!-- Content for Box 1 -->
                <div class="mt-8 w-full md:w-[70%] text-center border py-[6px] bg-orange-500 text-white rounded-lg hover:opacity-75 duration-300 ease-in-out flex items-center justify-center">
                  <button id="appointmentBtn" onclick="changeID('<%= appointment.id %>')" class="flex items-center text-[12px]">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar-days mr-2"><path d="M8 2v4"/><path d="M16 2v4"/><rect width="18" height="18" x="3" y="4" rx="2"/><path d="M3 10h18"/><path d="M8 14h.01"/><path d="M12 14h.01"/><path d="M16 14h.01"/><path d="M8 18h.01"/><path d="M12 18h.01"/><path d="M16 18h.01"/></svg>Appointment Now
                  </button>
                </div>
              </div>
              <% }); %>
          </div>          
      </div>
        

      </div>
      
    </div>  
  </div>

  <!-- Appointment Button -->
  <div id="popupBackdrop" class="fixed inset-0 hidden bg-black bg-opacity-50 shadow-lg">
    <section class="fixed top-0 left-0 flex items-center justify-center w-full h-full hidden" id="section">
      <div class="bg-white border border-orange-500 p-12 m-4 md:m-0 rounded-md items-center relative md:w-80">
        <div class="absolute top-0 right-0 p-2">
          <button id="cancelButton" class="text-orange-500 hover:rotate-180 focus:outline-none transform transition duration-300 ease-in-out">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x w-6 h-6">
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="15" y1="9" x2="9" y2="15"></line>
              <line x1="9" y1="9" x2="15" y2="15"></line>
            </svg>
          </button>
        </div>
        <h1 class="text-orange-500 font-extrabold text-center text-[10px] tracking-widest mb-4">SET APPOINTMENT:</h1>
        <label for="fullname" class="block mb-2 font-bold text-[12px] text-orange-500">Guardian:</label>

        <input type="text" id="firstname" class="w-full border border-orange-500 rounded-md py-1 px-3 mb-2" placeholder="Firstname" required>

        <input type="text" id="lastname" class="w-full border border-orange-500 rounded-md py-1 px-3 mb-2" placeholder="Lastname" required>
  
        <label for="childname" class="block mb-2 font-bold text-[12px] text-orange-500">Children:</label>
        <input type="text" id="childname" class="w-full border border-orange-500 rounded-md py-1 px-3 mb-2" placeholder="Childname" required>
  
        <label for="" class="block mb-2 font-bold text-[12px] text-orange-500">Contact:</label>
        <input type="text" id="contact" class="w-full border border-orange-500 rounded-md py-1 px-3 mb-2" placeholder="09123456789" required>
  
        <div class="flex items-center justify-center font-semibold tracking-widest text-center p-2 rounded-md bg-orange-500 text-white mt-8">
          <button id="confirm_appointment" class="text-[12px] flex items-center mx-4">Confirm
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check mx-4"><circle cx="12" cy="12" r="10"/><path d="m9 12 2 2 4-4"/></svg>
          </button>
        </div>
      </div>
    </section>
  </div>
  
  <!--  -->
  

  <!-- Script to toggle sidebar and change menu icon -->
  <script>
const sidebarToggle = document.getElementById('sidebarToggle');
const menuIcon = document.getElementById('menuIcon');
const sidebar = document.getElementById('sidebar');
const boxes = document.getElementById('boxes'); // Get the boxes div

sidebarToggle.addEventListener('click', function() {
  sidebar.classList.toggle('hidden');
  boxes.classList.toggle('hidden'); // Toggle the hidden class for the boxes div
  if (sidebar.classList.contains('hidden')) {
    menuIcon.setAttribute('name', 'menu-outline');
  } else {
    menuIcon.setAttribute('name', 'close-outline');
  }
});


const section = document.getElementById('section');
const cancelButton = document.getElementById('cancelButton');
const appointmentBtns = document.querySelectorAll('#appointmentBtn');
const popupBackdrop = document.getElementById('popupBackdrop');

appointmentBtns.forEach(function(appointmentBtn) {
    appointmentBtn.addEventListener('click', function() {
    section.classList.remove('hidden');
    popupBackdrop.classList.remove('hidden');

    // Calculate the center position of the screen
    const windowWidth = window.innerWidth;
    const windowHeight = window.innerHeight;
    const sectionWidth = section.offsetWidth;
    const sectionHeight = section.offsetHeight;

    const topPosition = (windowHeight - sectionHeight) / 2;
    const leftPosition = (windowWidth - sectionWidth) / 2;

    // Set the top and left positions
    section.style.top = `${topPosition}px`;
    section.style.left = `${leftPosition}px`;
  });
});

cancelButton.addEventListener('click', function() {
  section.classList.add('hidden');
  popupBackdrop.classList.add('hidden');
});

// Calendar Date
const dateInput = document.getElementById('dateInput');
const currentDate = new Date();
const formattedDate = currentDate.toISOString().slice(0,10);
dateInput.value = formattedDate;
</script>
<script src="index.js"></script>
<script src="fetching.js"></script>
<script src="fetching/user/appointments.js"></script>
</body>
</html>
