<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="design.css">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <style>
    .preloader{
      background: white url(img/preloader.gif) no-repeat center;
      background-size: 30%;
      height: 100vh;
      position: fixed;
      width: 100%;
      z-index: 100;
    }

    .active{
      background-color: white;
      margin: 0;
      color: rgb(249 115 22 / var(--tw-bg-opacity));
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    .active:hover{
        opacity: 1;
    }

    /* Added transition for sidebar */
    .sidebar {
      transition: transform 0.3s ease;
    }
  </style>
</head>
<body class="bg-white min-h-screen">
  <!-- Sidebar with Toggle Button -->
  <div class="fixed top-0 left-0 z-50 w-full p-2 bg-orange-500 md:bg-transparent flex items-center gap-4 justify-between">
    <img src="img/logo-removebg-preview.png" alt="" class="w-10 h-10 md:hidden"><span class="text-white font-bold md:hidden tracking-widest">THERASPACE</span>
    <button id="sidebarToggle" class="md:hidden text-white">
      <ion-icon id="menuIcon" name="menu-outline" class="text-4xl"></ion-icon>
    </button>
  </div>
  
  <div id="sidebar" class="sidebar fixed bg-orange-500 w-full md:w-[250px] top-0 bottom-0 md:left-0 mt-8 md:mt-0 py-4 h-screen hidden md:block">
    <div class="text-white text-xl flex flex-col justify-between h-full">
      <div class="p-4 mt-1 text-center mx-auto flex flex-col items-center justify-center">
        <img src="<%= global.profile %>" alt="" class="w-16 md:w-24 rounded-full">
        <h1 class="font-bold text-white text-[20px] tracking-wider"><%= global.username %></h1>
        <p class="text-sm italic"><%= global.email %></p>
      </div>
      <hr class="border-t border-white my-4">
      <div class="text-center cursor-pointer text-xl font-semibold pl-2 my-1">
        <a href="dashboard" class="w-full flex justify-start items-center py-2 text-[15px] active">
          <ion-icon name="home-outline" class="pr-4 pl-4 md:text-2xl"></ion-icon>
          <span>DASHBOARD</span>
        </a>
      </div>
      <div class="text-center cursor-pointer text-xl font-semibold pl-2 my-1">
        <a href="appointments" class="w-full flex justify-start items-center py-2 text-[15px] hover:opacity-60 hover:duration-200">
          <ion-icon name="calendar-outline" class="pr-4 pl-4 md:text-2xl"></ion-icon>         
          <span>APPOINTMENT</span>
        </a>
      </div>
      <div class="text-center cursor-pointer text-xl font-semibold pl-2 my-1">
        <a href="history" class="w-full flex justify-start items-center py-2 text-[15px] hover:opacity-60 hover:duration-200">
          <ion-icon name="time-outline" class="pr-4 pl-4 md:text-2xl"></ion-icon> 
          <span>HISTORY</span>
        </a>
      </div>
      <div class="text-center cursor-pointer text-xl font-semibold pl-2 my-1">
        <a href="prescription" class="w-full flex justify-start items-center py-2 text-[15px] hover:opacity-60 hover:duration-200">
          <ion-icon name="clipboard-outline" class="pr-4 pl-4 md:text-2xl"></ion-icon> 
          <span>PRESCRIPTION</span>
        </a>
      </div>
      <div class="text-center cursor-pointer text-xl font-semibold pl-2 my-1">
        <a href="schedule" class="w-full flex justify-start items-center py-2 text-[15px] hover:opacity-60 hover:duration-200">
          <ion-icon name="calendar-number-outline" class="pr-4 pl-4 md:text-2xl"></ion-icon> 
          <span>SCHEDULE</span>
        </a>
      </div>
      <div class="text-center cursor-pointer text-xl font-semibold pl-2 my-1 md:my-auto">
        <button onclick="confirmLogout()" class="w-full flex justify-start items-center py-2 text-[15px] hover:opacity-60 hover:duration-200">
          <ion-icon name="log-out-outline" class="pr-4 pl-4 md:text-2xl"></ion-icon>
          <span>LOG OUT</span>
        </button>
      </div> 
    </div>
  </div>
  
  <!-- Page Content -->
  <div class="md:fixed md:ml-[250px] mt-16 md:mt-2 w-full">
    <div class="md:ml-6 my-6 w-full">
      <h1 class="md:ml-4 pt-4 text-[30px] md:text-4xl text-orange-500 font-bold tracking-widest text-center md:text-start">DASHBOARD</h1>
    </div>
    <hr class="border-t-4 border-orange-500 my-4 md:my-0">
    <div class="md:mt-8 w-full">
      <div class="md:ml-6 mb-4 md:w-[80%]">
        
          <div class="bg-slate-200 rounded-md p-4 m-2 md:m-0 md:flex gap-4">

            <div class="bg-white p-4 rounded-md flex md:justify-center items-center gap-8 md:w-1/2 m-4 md:mx-0 md:my-0">
              <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-users-round"><path d="M18 21a8 8 0 0 0-16 0"/><circle cx="10" cy="8" r="5"/><path d="M22 20c0-3.37-2-6.5-4-8a5 5 0 0 0-.45-8.3"/></svg>
              <div class="gap-8">
                <h1 class="text-[12px] font-bold ">Happy Clients</h1>
                <div class="flex gap-4 items-center">
                  <h1 class="font-bold text-[24px] md:text-[42px]"><%= count_user %></h1>
                  <div>
                    <h1>This Month</h1>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="bg-white p-4 rounded-md flex md:justify-center items-center gap-8 md:w-1/2 m-4 md:mx-0 md:my-0">
              <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar-clock"><path d="M21 7.5V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h3.5"/><path d="M16 2v4"/><path d="M8 2v4"/><path d="M3 10h5"/><path d="M17.5 17.5 16 16.3V14"/><circle cx="16" cy="16" r="6"/></svg>
              <div class="gap-8">
                <h1 class="text-[12px] font-bold ">Number of Appointments</h1>
                <div class="flex gap-4 items-center">
                  <h1 class="font-bold text-[24px] md:text-[42px]"><%= count_month %></h1>
                  <div>
                    <h1>This Month</h1>
                  </div>
                </div>
              </div>
            </div>

            <div class="bg-white p-4 rounded-md flex md:justify-center items-center gap-8 md:w-1/2 m-4 md:mx-0 md:my-0">
              <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar-x-2"><path d="M8 2v4"/><path d="M16 2v4"/><path d="M21 13V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h8"/><path d="M3 10h18"/><path d="m17 22 5-5"/><path d="m17 17 5 5"/></svg>
              <div class="gap-8">
                <h1 class="text-[12px] font-bold ">Cancelled Appointments</h1>
                <div class="flex gap-4 items-center">
                  <h1 class="font-bold text-[24px] md:text-[42px]"><%= count_cancel %></h1>
                  <div>
                    <h1>This Month</h1>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div>
            <div class="flex justify-center items-center md:justify-start">
            <span class="my-4 text-black font-bold tracking-widest text-center md:text-start text-[16px]">Today - <%= count_appointment %> Appointments</span>
            </div>
            <div class="bg-slate-200 rounded-md p-4 m-2 md:m-0 md:overflow-y-auto md:md:max-h-[320px]">
              <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

                <div id="boxID" hidden></div>
                <% appointments.forEach((appointment) =>{ %>
                <div class="bg-white shadow-md hover:shadow-lg hover:transform hover:scale-105 transition duration-300 ease-in-out">
                  <div class="flex justify-center items-center p-4 rounded-md gap-8 ">
                    <img src="<%= appointment.image %>" alt="" class="w-16">
                    <div class="">
                      <h1 class="text-[16px] font-bold "><%= appointment.name %></h1>
                      <h1 class="text-[12px]"><i><%= appointment.email %></i></h1>
                    </div>
                  </div>
                    <button id="view_appointmentToday" onclick="changeID('<%= appointment.id %>')" class="bg-orange-500 text-white w-full flex justify-center p-2 hover:bg-opacity-50">View Details</button>         
                </div>
                <% }); %>
                
              </div>
  
            </div>
          </div>
        
    </div>  
  </div>

  <!-- View Details Button -->
  <div id="popupBackdrop" class="fixed inset-0 hidden bg-black bg-opacity-50 shadow-lg">
    <section class="fixed top-0 left-0 flex items-center justify-center w-full h-full hidden" id="section">
      <div class="bg-white border border-orange-500 p-12 rounded-md items-center relative md:w-80">
        <div class="absolute top-0 right-0 p-2">
          <button id="cancelButton" class="text-orange-500 hover:rotate-180 focus:outline-none transform transition duration-300 ease-in-out">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x w-6 h-6">
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="15" y1="9" x2="9" y2="15"></line>
              <line x1="9" y1="9" x2="15" y2="15"></line>
            </svg>
          </button>
        </div>
        <h1 class="text-orange-500 font-extrabold text-center text-[10px] tracking-widest mb-4">APPOINTMENT DETAILS:</h1>
        <div class="grid grid-cols-1 gap-2 overflow-y-auto max-h-[250px]">
          <div class="border border-orange-500 rounded-md p-2">
            <h1 class="font-bold text-[10px]">15/05/2024</h1>
            <h1 class="text-[16px]">7:00am - 9am</h1>
          </div>
        </div>
  

      </div>
    </section>
  </div>
  
  <!--  -->
  

  <!-- Script to toggle sidebar and change menu icon -->
<script>
const sidebarToggle = document.getElementById('sidebarToggle');
const menuIcon = document.getElementById('menuIcon');
const sidebar = document.getElementById('sidebar');
const boxes = document.getElementById('boxes'); // Get the boxes div

sidebarToggle.addEventListener('click', function() {
  sidebar.classList.toggle('hidden');
  boxes.classList.toggle('hidden'); // Toggle the hidden class for the boxes div
  if (sidebar.classList.contains('hidden')) {
    menuIcon.setAttribute('name', 'menu-outline');
  } else {
    menuIcon.setAttribute('name', 'close-outline');
  }
});


const section = document.getElementById('section');
const cancelButton = document.getElementById('cancelButton');
const view_appointmentTodays = document.querySelectorAll('#view_appointmentToday');
const popupBackdrop = document.getElementById('popupBackdrop');

view_appointmentTodays.forEach(function(view_appointmentToday) {
    view_appointmentToday.addEventListener('click', function() {
    section.classList.remove('hidden');
    popupBackdrop.classList.remove('hidden');

    // Calculate the center position of the screen
    const windowWidth = window.innerWidth;
    const windowHeight = window.innerHeight;
    const sectionWidth = section.offsetWidth;
    const sectionHeight = section.offsetHeight;

    const topPosition = (windowHeight - sectionHeight) / 2;
    const leftPosition = (windowWidth - sectionWidth) / 2;

    // Set the top and left positions
    section.style.top = `${topPosition}px`;
    section.style.left = `${leftPosition}px`;
  });
});

cancelButton.addEventListener('click', function() {
  section.classList.add('hidden');
  popupBackdrop.classList.add('hidden');
});

// Calendar Date
const dateInput = document.getElementById('dateInput');
const currentDate = new Date();
const formattedDate = currentDate.toISOString().slice(0,10);
dateInput.value = formattedDate;

 
  document.getElementById('setSchedule').addEventListener('click', function(){
    Swal.fire({
        title: "Successfully Created!",
        text: "Recorded",
        icon: "success"
    })
  
});



</script>
</body>
<script src="index.js"></script>
<script src="fetching.js"></script>
</html>
